#Настройки БД
HOST='your_host_here'
NAME_USER='your_name_here'
PASSWORD='your_password_here'
DATABASE='SAF'
CONNECT='5433'

#Настройки MQTT
MQTT_LOGIN="your_mqtt_user"
MQTT_PASSWORD="your_mqtt_password"
MQTT_ADDRESS="127.0.0.1"
MQTT_PORT="1883"

UUID="uuid_for_main_esp32"

UUID_CAM="uuid_for_esp"

URL="local_ip_esp32_cam"

SECRET_KEY="secret_key_for_jwt"