#Настройки БД
HOST='your_host_here'
NAME_USER='your_name_here'
PASSWORD='your_password_here'
DATABASE='SAF'
CONNECT='5432'

#Настройки MQTT
MQTT_LOGIN="your_mqtt_user"
MQTT_PASSWORD="your_mqtt_password"
MQTT_ADDRESS="127.0.0.1"
MQTT_PORT="1883"

UUID="ae95b9a4-5198-4b52-a8b6-a9096a00bc7f"